body {
  margin: 0;
  padding: 0;
  background: rgb(226, 218, 216);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 20%;
  .nav-links-only {
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #444053;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.15em;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    position: relative;

    li {
      padding: 5px;
    }
  }

  .nav-links-only::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #444053;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  .nav-links-only:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

  .nav-links-only::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #444053;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  .nav-links-only:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.button {
  --offset: 10px;
  --border-size: 2px;
  font-size: 1.3rem;
  display: block;
  margin-top: 1rem;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #444053;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;

  &:hover {
    background: rgba(100, 0, 0, 0.03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}
