body {
  margin: 0;
  padding: 0;
  background: #e2dad8;
}

/* for home page */

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}


.text-one, .note {
  font-size: 1rem;
  font-family: verdana;
}

.log0 {
  display: inline;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 20%;
}

.navigation .nav-links-only {
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
  color: #444053;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.navigation .nav-links-only li {
  padding: 5px;
}

.navigation .nav-links-only::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #444053;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.navigation .nav-links-only:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation .nav-links-only::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #444053;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.navigation .nav-links-only:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button {
  --offset: 10px;
  --border-size: 2px;
  font-size: 1.3rem;
  display: block;
  margin-top: 1rem;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #444053;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 var(--border-size) currentcolor;
          box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  -webkit-transition: background 0.8s ease;
  transition:  0.8s ease;
}


.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  will-change: transform;
}

.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.to-hide-from-body{
  visibility: hidden;
}

.btn-hover:hover{
  background:#444053;
  color: #e2dad8;
}

.btn-start{
  padding: 1em 3em;
  margin-bottom: 1rem;
}

/* how to use page */

.instructions{
  color:#444053 ;
  font-size: 1.5rem;
}

/* about page */

.container-about{
  font-size: 1.5rem;
  color:#444053;
  display: grid;
  margin: 0 1rem;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 15%;
    margin-right: 5%;
  }

/*# sourceMappingURL=style.css.map */

@media(max-width:900px){

.body{
  overflow: hidden;
}
  .to-hide{
    visibility: hidden;
    overflow: hidden;
  }

  .to-hide-from-body{
    visibility:visible;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    padding-top: 40vh;
    margin: 0 1rem;
  }

  .container-about{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
  }
  
  .button{
    display: none;
  }

  }




